
  
.feynman__title {
    margin: 100px auto 0;
    width: 648px;
    text-align: center;
    z-index: 90;
    color: #000000;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
  }
  